* {
font-family:serif,monospace;
}
input {
    font-family:monospace;
}
input[type=text]:disabled {
    background: #ffffff;
    color: #000000;
}
td.fill input {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
white-space: nowrap;
}
#darkheader {
background-color:#09C;
color:white;
text-align:center;
padding:0px;
width:100%;
}
#darkfooter {
background-color:#09C;
color:white;
clear:both;
text-align:left;
width:100%;
}
#darkurl {
background-color:#00b9f2;
color:white;
text-align:center;
padding:0px;
width:100%;
white-space: normal;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  /* word-break: break-word; */

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
button {
background-color: #eef;
color: black;
font-size: 16px;
cursor: pointer;
text-align: left;
}
button:hover, button:focus {
    background-color: #0cf;
}
.test {
    background-color: #eef;
}
.test:hover, .test:focus {
    background-color: red;
}
.run {
    background-color: yellow;
}
.run:hover, .run:focus {
    background-color: red;
}
.shaded {
    background-color: #ddf;
    width:100%;
}
.shaded:hover, .shaded:focus {
    background-color: #0df;
}
.dropdown {
position: relative;
display: inline-block;
}
.request {
background-color: #09C;
color: white;
border: none;
cursor: pointer;
position: relative;
display: inline-block;
}
.request:hover {
background-color: #00b9f2;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position:absolute;
z-index:100;
background-color: #00b9f2;
min-width: 16px;
}
/* buttons inside the dropdown */
.dropdown-content table {
border: none;
width:100%;
}
.dropdown-content table button {
background-color: #00b9f2;
color: black;
font-size: 16px;
width:100%;
border: none;
cursor: pointer;
}
/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: #ffffff}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
