Package: fark-perl
Version: 0.13-1
Architecture: amd64
Maintainer: root <frank.tveter@met.no>
Installed-Size: 5270
Depends: perl, libc6 (>= 2.14), libgfortran3 (>= 4.6), libnetcdff6 (>= 4.1.1)
Section: perl
Priority: optional
Homepage: http://search.cpan.org/dist/fark-perl/
Description: point archive perl library for extracting data from netcdf files.
 .
 This description was automagically extracted from the module by dh-make-perl.
